header.HeaderHome
  .wrap
    .HeaderHome-followBox
      span.HeaderHome-followBox-text Síguenos:
      a.HeaderHome-followBox-fb(href='')
        i.icon-facebook
      a.HeaderHome-followBox-pi(href='')
        i.icon-pinterest
      a.HeaderHome-followBox-in(href='')
        i.icon-instagram
